
@{
    ViewBag.Title = "amaron_car";
    Layout = "~/Views/Shared/_Header_img.cshtml";
}




<div class="featured" style="background-color:forestgreen">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center" style="margin-top:-8%;">

                    <h1 style="color:white; font-family:Calibri"><u>Car Batteries</u></h1>

                    <div class="section_title">

                    </div>
                </div>
            </div>
        </div>
        <div class="row featured_row">

            <!-- Featured Item -->

            <div class="col-lg-4" style="margin-top:-5%;">
                <div class="listing">
                    <div class="listing_image">
                        <div class="listing_image_container">
                            <img src="~/Amaron_invt/amaronbattry1.jpg" style="width:80%; height:200px;" alt="">
                        </div>
                        <div class="tags d-flex flex-row align-items-start justify-content-start flex-wrap">
                            <!-- <div class="tag tag_house"><a href="listings.html">house</a></div>
                    <div class="tag tag_sale"><a href="listings.html">for sale</a></div>-->
                        </div>
                        <!--<div class="tag_price listing_price">$ 375 255</div>-->
                    </div>
                    <div class="listing_content">
                        <div class="prop_location listing_location d-flex flex-row align-items-start justify-content-start">
                            <img src="~/imagesh/icon_1.png" alt="">
                            <a href="#">

                                <p style="font-family:Calibri; font-size:medium; color:black">
                                    Amaron AAM-FL-545106036
                                </p>


                                <p style="font-family:Calibri; font-size:medium; color:black">
                                    Warranty: 0-30 months Free + 31-55 Months Pro-Rata
                                </p>




                            </a>
                        </div>
                        <div class="listing_info">
                            <ul class="d-flex flex-row align-items-center justify-content-start flex-wrap"></ul>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Featured Item -->
            <div class="col-lg-4" style="margin-top:-5%;">
                <div class="listing">
                    <div class="listing_image">
                        <div class="listing_image_container">
                            <img src="~/Amaron_invt/amaroncar2.jpg" style="width:80%; height:200px;" alt="">
                        </div>
                        <div class="tags d-flex flex-row align-items-start justify-content-start flex-wrap">
                            <!-- <div class="tag tag_house"><a href="listings.html">house</a></div>
                    <div class="tag tag_sale"><a href="listings.html">for sale</a></div>-->
                        </div>
                        <!--<div class="tag_price listing_price">$ 375 255</div>-->
                    </div>
                    <div class="listing_content">
                        <div class="prop_location listing_location d-flex flex-row align-items-start justify-content-start">
                            <img src="~/imagesh/icon_1.png" alt="">
                            <a href="#">

                                <p style="font-family:Calibri; font-size:medium; color:black">
                                    Amaron AAM-FL-00042B20L
                                </p>


                                <p style="font-family:Calibri; font-size:medium; color:black">
                                    Warranty: 0-30 months Free + 31-55 Months Pro-Rata
                                </p>




                            </a>
                        </div>
                        <div class="listing_info">
                            <ul class="d-flex flex-row align-items-center justify-content-start flex-wrap"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Featured Item -->
            <div class="col-lg-4" style="margin-top:-5%;">
                <div class="listing">
                    <div class="listing_image">
                        <div class="listing_image_container">
                            <img src="~/Amaron_invt/amaroncar3.png" style="width:80%; height:200px;" alt="">
                        </div>
                        <div class="tags d-flex flex-row align-items-start justify-content-start flex-wrap">
                            <!-- <div class="tag tag_house"><a href="listings.html">house</a></div>
                    <div class="tag tag_sale"><a href="listings.html">for sale</a></div>-->
                        </div>
                        <!--<div class="tag_price listing_price">$ 375 255</div>-->
                    </div>
                    <div class="listing_content">
                        <div class="prop_location listing_location d-flex flex-row align-items-start justify-content-start">
                            <img src="~/imagesh/icon_1.png" alt="">
                            <a href="single.html">

                                <p style="font-family:Calibri; font-size:medium; color:black">
                                    Amaron AAM-PR-00050B2
                                </p>

                                <p style="font-family:Calibri; font-size:medium; color:black">
                                    Warranty: 0-36 months Free + 37-66 Months Pro-Rata
                                </p>




                            </a>
                        </div>
                        <div class="listing_info">
                            <ul class="d-flex flex-row align-items-center justify-content-start flex-wrap"></ul>
                        </div>
                    </div>
                </div>
            </div>






        </div>
    </div>
</div>




