
@{
    ViewBag.Title = "Contact_us";
    Layout = "~/Views/Shared/_Header_img.cshtml";
}

<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="info">
                    <div class="section_title_container">

                        <div class="section_title"><i>Contact Details</i></div>

                    </div>
                    <div class="info_title" style="margin-left:5%"><i><u>Head Office</u></i></div>
                    <p style="font-family:Calibri; font-size:medium; color:black">
                        <i>
                            Address-:Shop No 45, (FF) DDA Local Shopping Center<br /> (LSC)
                            Mangla Market,Adjoining KALKAJI Head Post OFFICE<br />,
                            Kalkaji, New Delhi, Delhi 110019
                        </i><br />
                    </p>    <p style="font-family:Calibri; font-size:medium; color:black">
                        <i>
                            Phone : 011-40590665, 41600748<br />
                            Mobile : 9818615350, 9310215350
                        </i>
                    </p>

                    
                        
                    <p style="font-family:Calibri;font-size:medium; color:black"><span><i>Email:</span> <a href="mailto:info@yoursite.com"><b>abtonpower@gmail.com</i></b></a></p>
                    
                    
                    <p style="font-family:Calibri; font-size:medium; color:black">
                        <i>Website : www.abtonpower.com</i>
                    </p>
                </div>
            </div>
            <div class="col-lg-6 contact_form_col">
                <div class="section_title_container">
                    <div class="section_subtitle"></div>
                    <div class="section_title">Get in touch</div>
                </div>
                <div class="contact_form_container">
                    <form action="#" class="contact_form">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" id="name" class="form-control" placeholder="Enter Your Name" />

                            </div>
                            <div class="col-md-6">

                                <input type="text" id="phone" class="form-control" placeholder="Enter Phone No" />

                            </div>


                            <div class="col-md-6">
                                <br />
                                <input type="text" id="email" class="form-control" placeholder="Enter Email" />

                            </div>
                            <div class="col-md-6">
                                <br />
                                <input type="text" id="City" class="form-control" placeholder=" Enter City" />

                            </div>

                            <div class="col-md-12">
                                <br />
                                <textarea name="" id="comment" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
                            </div>

                            <div class="col-md-12" style="text-align:center">
                               <br/> <button style="width:90%;" type="button" id="save" class="btn btn-success">Submit</button></div>



                        </div>

                           


                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


