
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Header.cshtml";
}






<div class="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">

                <div class="intro_image text-lg-right text-center"><img src="/images/b880b10b2dc2db3994ec2f490154fa1101.jpg" alt=""></div>

                &nbsp;&nbsp;&nbsp;&nbsp;<div class="intro_image text-lg-right text-center">










    <iframe width="380" height="220" src="https://www.youtube.com/embed/JrGDdOzakzU" frameborder="1"> </iframe>

    

</div>

            </div>
            <div class="col-lg-6">
                <div class="intro_content">
                    <div class="intro_title_container">


                        <h1 class="intro_title" style=" font-family:Calibri; margin-top:-6%;"><u style="color:black;">Welcome</u></h1>
                    </div>
                    <div class="intro_text">
                        <p style="font-family:Calibri; margin-top:-3%; font-size:medium; color:black">
                            M/s Abton Power Devices Pvt. Ltd. was established in the year 1991 and is the leading EXIDE DEALER across South Asia  among the Authorised Dealer of EXIDE INDUSTRIES  LIMITED, having an Exclusive Showroom in Main Road, Kalkaji,  New Delhi and Godowns at several locations in Delhi & NCR to ensure prompt supply & services.
                        </p>
                        <p style="font-family:Calibri; font-size:medium; color:black">
                            We endeavor to provide packaged power solutions across all type of industries and institutions, to fulfill their power needs in the best possible manner, at all times. We are a Authorised Dealer of Exide, Luminous, Sukam, Microtek, Digital and Sine Wave Invertors and Batteries Car batteries and custom made inverter and batteries also available. For more best price feel free and contact us
                        </p>
                        <p style="font-family:Calibri; font-size:medium; color:black">
                            Related to : Battery, Batteries, Exide Batteries, Sukam Batteries, Luminous Batteries, Exide Battery, Sukam Battery, Luminous battery, Inverter, Inverters, Luminous Inverter, Sukam Inverter, Microtek Inverter, UPS, Online UPS, UPS repair, Inverter repair.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="news">
    <div class="container">

        <div class="row">

            <!-- News Post -->
            <div class="col-lg-3 news_col" style="margin-top:-5%;">
                <div class="news_post">
                    <div class="news_image"><img src="~/images/exidenew.png" alt=""></div>
                    <div class="news_date d-flex flex-column align-items-center justify-content-center">
                        <div class="news_month"></div>
                        <div class="news_day"></div>
                    </div>
                    <div class="news_content">
                        <div class="news_title"></div>
                        <div class="news_text">
                            <p></p>
                        </div>
                    </div>

                </div>
            </div>









            <div class="col-lg-3 news_col" style="margin-top:-5%;">
                <div class="news_post">
                    <div class="news_image"><img src="~/images/luminous_logo.jpg" alt=""></div>
                    <div class="news_date d-flex flex-column align-items-center justify-content-center">
                        <div class="news_month"></div>
                        <div class="news_day"></div>
                    </div>
                    <div class="news_content">
                        <div class="news_title"></div>
                        <div class="news_text">
                            <p></p>
                        </div>
                    </div>

                </div>
            </div>



            <div class="col-lg-3 news_col" style="margin-top:-5%;">
                <div class="news_post">
                    <div class="news_image">
                    
                    
                    <img src="~/images/amaron-logo-2DB8BB76A6-seeklogo.com.png" alt=""></div>
                    <div class="news_date d-flex flex-column align-items-center justify-content-center">
                        <div class="news_month"></div>
                        <div class="news_day"></div>
                    </div>
                    <div class="news_content">
                        <div class="news_title"></div>
                        <div class="news_text">
                            <p></p>
                        </div>
                    </div>

                </div>
            </div>



            <div class="col-lg-3 news_col" style="margin-top:-5%;" >
                <div class="news_post">
                    <div class="news_image">
                    
                        <img src="~/images/microtek-logo-FDE7E92C70-seeklogo.com.png" alt="">
                    
                    
                    </div>
                    <div class="news_date d-flex flex-column align-items-center justify-content-center">
                        <div class="news_month"></div>
                        <div class="news_day"></div>
                    </div>
                    <div class="news_content">
                        <div class="news_title"></div>
                        <div class="news_text">
                            <p></p>
                        </div>
                    </div>

                </div>
            </div>















        </div>
    </div>
</div>


<!--Here start Multiple Sliders-->
