
@{
    ViewBag.Title = "luminious_inverter";
    Layout = "~/Views/Shared/_Header_img.cshtml";
}




<div class="featured" style="background-color:forestgreen">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center" style="margin-top:-8%;">
                    <h1 style="color:white; font-family:Calibri"><u>inverter</u></h1>
                    <div class="section_title">
                    </div>
                </div>
            </div>
        </div>
        <div class="row featured_row">

            <!-- Featured Item -->
            <div class="col-lg-4" style="margin-top:-5%;">
                <div class="listing">
                    <div class="listing_image">
                        <div class="listing_image_container">
                            <img src="~/luminiouspic/luminiouInvertor1.png" style="width:80%; height:200px;" alt="">
                        </div>
                        <div class="tags d-flex flex-row align-items-start justify-content-start flex-wrap" >
                            <!-- <div class="tag tag_house"><a href="listings.html">house</a></div>
                            <div class="tag tag_sale"><a href="listings.html">for sale</a></div>-->
                        </div>
                        <!--<div class="tag_price listing_price">$ 375 255</div>-->
                    </div>
                    <div class="listing_content">
                        <div class="prop_location listing_location d-flex flex-row align-items-start justify-content-start" style=" height:200px;">
                            <img src="~/imagesh/icon_1.png" alt="">
                            <a href="#">

                                <p style="font-family:Calibri; font-size:medium; color:black">
                                    Warranty -: 24 Months
                                </p>

                                <p style="font-family:Calibri; font-size:medium; color:black">
                                    Square Wave Inverter
                                </p>
                                <p style="font-family:Calibri; font-size:medium; color:black">
                                    Supports single battery
                                </p>
                                <!--
    <p style="font-family:Calibri; font-size:medium; color:black">
        Eco Watt series is the No. 1 selling Home UPS of Luminous.
    </p>
        -->
                            </a>
                        </div>
                        <div class="listing_info">
                            <ul class="d-flex flex-row align-items-center justify-content-start flex-wrap"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Featured Item -->
            <div class="col-lg-4" style="margin-top:-5%;">
                <div class="listing">
                    <div class="listing_image">
                        <div class="listing_image_container">
                            <img src="~/luminiouspic/luminiouInvertor2.png" style="width:80%; height:200px;" alt="">
                        </div>
                        <div class="tags d-flex flex-row align-items-start justify-content-start flex-wrap">
                            <!-- <div class="tag tag_house"><a href="listings.html">house</a></div>
                            <div class="tag tag_sale"><a href="listings.html">for sale</a></div>-->
                        </div>
                        <!--<div class="tag_price listing_price">$ 375 255</div>-->
                    </div>
                    <div class="listing_content">
                        <div class="prop_location listing_location d-flex flex-row align-items-start justify-content-start" style=" height:200px;">
                            <img src="~/imagesh/icon_1.png" alt="">
                            <a href="#">

                                <p style="font-family:Calibri; font-size:medium; color:black">
                                    Warranty -:24 Months
                                </p>


                                <p style="font-family:Calibri; font-size:medium; color:black">
                                    Sine Wave Inverter
                                </p>
                                <p style="font-family:Calibri; font-size:medium; color:black">
                                    Supports one battery
                                </p>



                            </a>
                        </div>
                        <div class="listing_info">
                            <ul class="d-flex flex-row align-items-center justify-content-start flex-wrap"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Featured Item -->
            <div class="col-lg-4" style="margin-top:-5%;">
                <div class="listing">
                    <div class="listing_image">
                        <div class="listing_image_container">
                            <img src="~/luminiouspic/luminiouInvertor3.png" style="width:80%; height:200px;" alt="">
                        </div>
                        <div class="tags d-flex flex-row align-items-start justify-content-start flex-wrap">
                            <!-- <div class="tag tag_house"><a href="listings.html">house</a></div>
                            <div class="tag tag_sale"><a href="listings.html">for sale</a></div>-->
                        </div>
                        <!--<div class="tag_price listing_price">$ 375 255</div>-->
                    </div>
                    <div class="listing_content">
                        <div class="prop_location listing_location d-flex flex-row align-items-start justify-content-start" style=" height:200px;">
                            <img src="~/imagesh/icon_1.png" alt="">
                            <a href="single.html">

                                <p style="font-family:Calibri; font-size:medium; color:black">
                                    Warranty -: 2 Years 
                                </p>

                                <p style="font-family:Calibri; font-size:medium; color:black">
                                    Hybrid charging : Charging from both mains and solar
                                </p>





                            </a>
                        </div>
                        <div class="listing_info">
                            <ul class="d-flex flex-row align-items-center justify-content-start flex-wrap"></ul>
                        </div>
                    </div>
                </div>
            </div>






        </div>
    </div>
</div>