
@{
    ViewBag.Title = "microtek_inverter";
    Layout = "~/Views/Shared/_Header_img.cshtml";
}



<div class="featured" style="background-color:red">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center" style="margin-top:-8%;">
                    <h1 style="color:white; font-family:Calibri"><u>Microtek Inverter</u></h1>
                    <div class="section_title">
                    </div>
                </div>
            </div>
        </div>
        <div class="row featured_row">

            <!-- Featured Item -->
            <div class="col-lg-3" style="margin-top:-5%;">
                <div class="listing">
                    <div class="listing_image">
                        <div class="listing_image_container">
                            <img src="~/microtek_pic/microtek inverter1.png" style="width:80%; height:200px;" alt="">
                        </div>
                        <div class="tags d-flex flex-row align-items-start justify-content-start flex-wrap">
                            <!-- <div class="tag tag_house"><a href="listings.html">house</a></div>
                            <div class="tag tag_sale"><a href="listings.html">for sale</a></div>-->
                        </div>
                        <!--<div class="tag_price listing_price">$ 375 255</div>-->
                    </div>
                    <div class="listing_content">
                        <div class="prop_location listing_location d-flex flex-row align-items-start justify-content-start" style=" height:350px;" >
                            <img src="~/imagesh/icon_1.png" alt="">
                            <a href="#">

                                <p style="font-family:Calibri; font-size:medium; color:black">
                                    Micro Controller based Intelligent Control Design.

                                </p>

                                <p style="font-family:Calibri; font-size:medium; color:black">
                                    Battery State Monitoring
                                </p>
                                <p style="font-family:Calibri; font-size:medium; color:black">
                                    LED Display Indications (Status & Fault)
                                </p>

                            </a>
                        </div>
                        <div class="listing_info">
                            <ul class="d-flex flex-row align-items-center justify-content-start flex-wrap"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Featured Item -->
            <div class="col-lg-3" style="margin-top:-5%;">
                <div class="listing">
                    <div class="listing_image">
                        <div class="listing_image_container">
                            <img src="~/microtek_pic/microtekbattery4.png" style="width:80%; height:200px;" alt="">
                        </div>
                        <div class="tags d-flex flex-row align-items-start justify-content-start flex-wrap">
                            <!-- <div class="tag tag_house"><a href="listings.html">house</a></div>
                            <div class="tag tag_sale"><a href="listings.html">for sale</a></div>-->
                        </div>
                        <!--<div class="tag_price listing_price">$ 375 255</div>-->
                    </div>
                    <div class="listing_content">
                        <div class="prop_location listing_location d-flex flex-row align-items-start justify-content-start" style=" height:350px;">
                            <img src="~/imagesh/icon_1.png" alt="">
                            <a href="#">
                                <p style="font-family:Calibri; font-size:medium; color:black">
                                    Micro Controller based Intelligent Control Design
                                </p>
                                <p style="font-family:Calibri; font-size:medium; color:black">

                                </p>
                                <p style="font-family:Calibri; font-size:medium; color:black">
                                    Battery State Monitoring
                                </p>
                                <p style="font-family:Calibri; font-size:medium; color:black">

                                </p>
                                <p style="font-family:Calibri; font-size:medium; color:black">
                                    TPZi output Waveform
                                </p>

                                <p style="font-family:Calibri; font-size:medium; color:black">

                                </p>
                                <p style="font-family:Calibri; font-size:medium; color:black">

                                </p>


                            </a>
                        </div>
                        <div class="listing_info">
                            <ul class="d-flex flex-row align-items-center justify-content-start flex-wrap"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Featured Item -->
            <div class="col-lg-3" style="margin-top:-5%;">
                <div class="listing">
                    <div class="listing_image">
                        <div class="listing_image_container">
                            <img src="~/microtek_pic/microtek inverter3.png" style="width:80%; height:200px;" alt="">
                        </div>
                        <div class="tags d-flex flex-row align-items-start justify-content-start flex-wrap">
                            <!-- <div class="tag tag_house"><a href="listings.html">house</a></div>
                            <div class="tag tag_sale"><a href="listings.html">for sale</a></div>-->
                        </div>
                        <!--<div class="tag_price listing_price">$ 375 255</div>-->
                    </div>
                    <div class="listing_content">
                        <div class="prop_location listing_location d-flex flex-row align-items-start justify-content-start" style=" height:350px;">
                            <img src="~/imagesh/icon_1.png" alt="">
                            <a href="single.html">

                                <p style="font-family:Calibri; font-size:medium; color:black">
                                    Micro Controller based Intelligent Control Design
                                </p>
                                <p style="font-family:Calibri; font-size:medium; color:black">

                                </p>
                                <p style="font-family:Calibri; font-size:medium; color:black">
                                    Battery State Monitoring
                                </p>
                                <p style="font-family:Calibri; font-size:medium; color:black">
                                    
                                </p>
                                <p style="font-family:Calibri; font-size:medium; color:black">
                                    TPZi output Waveform
                                </p>

                                <p style="font-family:Calibri; font-size:medium; color:black">

                                </p>
                                <p style="font-family:Calibri; font-size:medium; color:black">

                                </p>
                            </a>
                        </div>
                        <div class="listing_info">
                            <ul class="d-flex flex-row align-items-center justify-content-start flex-wrap"></ul>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-lg-3" style="margin-top:-5%;">
                <div class="listing">
                    <div class="listing_image">
                        <div class="listing_image_container">
                            <img src="~/microtek_pic/microtek inverter4.png" style="width:80%; height:200px;" alt="">
                        </div>
                        <div class="tags d-flex flex-row align-items-start justify-content-start flex-wrap">
                            <!-- <div class="tag tag_house"><a href="listings.html">house</a></div>
                            <div class="tag tag_sale"><a href="listings.html">for sale</a></div>-->
                        </div>
                        <!--<div class="tag_price listing_price">$ 375 255</div>-->
                    </div>
                    <div class="listing_content">
                        <div class="prop_location listing_location d-flex flex-row align-items-start justify-content-start" style=" height:350px;">
                            <img src="~/imagesh/icon_1.png" alt="">
                            <a href="single.html">

                                <p style="font-family:Calibri; font-size:medium; color:black">
                                    Pure Sinewave Output
                                </p>
                                <p style="font-family:Calibri; font-size:medium; color:black">
                                    Static UPS with LCD Display
                                </p>

                                <p style="font-family:Calibri; font-size:medium; color:black">
                                    Generator Compatible
                                </p>

                                <p style="font-family:Calibri; font-size:medium; color:black">
                                    Advanced Battery Management
                                </p>

                            </a>
                        </div>
                        <div class="listing_info">
                            <ul class="d-flex flex-row align-items-center justify-content-start flex-wrap"></ul>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    </div>
</div>



